/*
    blue    #337ab7
    green   #5cb85c
    red     #d9534f
    orange  #f0ad4e
    grey    #777

*/

header div.text-right {
    margin-top: 20px;
}
header div.text-right p {
    margin-bottom: 0;
}

.soprbr-toref {
    margin-right: 0.5em;
}

#cornifycount {
    display: none;
}
